# Lite Streamlit Gitignore

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Large binaries we don't want (Original full models)
Images_features.pkl
filenames.pkl
data_assets.zip

# We WANT catalog and data
# No ignore for catalog/
# No ignore for data/